# Virtual env
.venv/

# Byte-compiled / cached
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# VSCode
.vscode/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

run_ui_test.py

#Images
.png
.csv
.LOG

# Generated mermaid diagrams
diagrams/mermaid_generated/
# Excluded directories
tools/
quality_tool/
diagrams/
node_modules