name: Robot Framework Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework
          pip install robotframework-seleniumlibrary
          pip install robotframework-jsonlibrary
          pip install -r requirements.txt || true
          
      - name: Setup test environment
          run: |
          mkdir -p data_logging/results_LOG
          echo "date,time,result" > data_logging/results_LOG/results_2026-01.csv

      - name: Run Robot Framework tests
        run: |
          robot --outputdir Robot/results Robot/tests

      - name: Upload Robot test results
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: Robot/results